/*
footer {
  position: fixed;
  padding: 24px;
  background: #ffff;
  bottom: 0;
  width:100%;
}

.container-fluid {
  padding-bottom: 50px;
}
*/


.region-sidebar {
    position: fixed;
    top: 80px;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    left: -100vw;
    z-index: 100;
    -moz-transition: left, ease 0.5s;
    -o-transition: left, ease 0.5s;
    -webkit-transition: left, ease 0.5s;
    transition: left, ease 0.5s;
    background-color: white;
    padding: 20px 10px;
  }
.navigation-open .region-sidebar {
    left: 0;
}
.body {
  margin-top: 50px;
}
a, a:visited, a:hover {
  color: #333e48;
}
.main-content {
  margin-top: 60px;
}
.hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 6px;
}
.region-content {
    min-height: calc(100vh - 84px);
    padding: 0 20px;
    display: inline-block;
    background-color: #fafafa;
    color: #333e48;
    width: 100vw;
}
.region-footer {
  height: 48px;
  line-height: 48px;
  color: #333e48;
  font-family: "open-sans-light", sans-serif;
  font-size: 0.8em;
  padding: 0 24px;
  background-color: #ddd;
}
/* line 4, ../sass/base/reset/_2_links.sass */
.region-footer a {
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
/* line 6, ../sass/base/reset/_2_links.sass */
.region-footer a:link, .region-footer a:visited {
  color: #c60033;
}
/* line 8, ../sass/base/reset/_2_links.sass */
.region-footer a:hover {
  color: #ad002c;
}
/* line 10, ../sass/base/reset/_2_links.sass */
.region-footer a:active {
  color: #c60033;
}
/* line 35, ../sass/base/reset/_2_links.sass */
.region-footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.container-fluid{
  padding:0;
}
.hamburger-container{
  min-height: 40px;
  position: fixed;
  margin-bottom: 40px;
  width: 100%;
  background: #fafafa;
}
.hamburguer i:last-child {
    margin-bottom: 0;
}
.hamburguer i {
    width: 100%;
    display: block;
    height: 3px;
    margin-bottom: 6px;
    background-color: black;
    -moz-transition: -moz-transform 0.25s ease;
    -o-transition: -o-transform 0.25s ease;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}
.hamburguer:hover {
    cursor: pointer;
}
.hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 6px;
}
.navigation-open .hamburguer i:first-child {
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}
.navigation-open .hamburguer i:nth-child(2) {
    opacity: 0;
}
.navigation-open .hamburguer i:last-child {
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}
.hamburguer i:last-child {
    margin-bottom: 0;
}
ul.menu-primary__submenu {
  padding-left: 12px;
}
.menu-primary__item.collapsed .menu-primary__item-label::after{
    content: "⌄";
    float: right;
}

.menu-primary__item .menu-primary__item-label::after{
    content: "^";
    float: right;
}

.menu-primary__item.collapsed .menu-primary__submenu, .menu-primary__submenu-item.collapsed .menu-primary__submenu {

    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;

}
@media screen and (min-width: 768px) {
  /* line 3, ../sass/regions/_sidebar.sass */
  .region-sidebar {
    width: 240px;
    left: 0;
  }
  .region-content {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
.hamburguer {
    display: none;
  }
  .nav > li > a {
    padding: 10px 15px;
}

}
@media screen and (max-width: 800px){
.nav > li > a {
    padding: 10px 10px;
}

}
@media screen and (max-width: 520px){
.nav-tabs {
   min-width: 100%;
   display: inline-grid;
 }

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background-color:#cc0066;
  border-color:#cc0066;
}
.backgrey {
  background-color: #f1f1f1;
  padding: 6%;
  border: 1px solid #dedede;
}

.btn-success:hover, .btn-success{
    background-color:#cc0066;
  border-color:#cc0066;
}
.side-menu a.active{
    background-color:#eee;
  }

ul.side-menu > li > a:hover{
    background-color:#f6f6f6;
  }
.col-md-2 {
  border-right:1px solid  #e2e4e4;
}

#hint_id_vacationinfo.form-text{
  display: block;
}
.container .jumbotron, .container-fluid .jumbotron {
  background-color:#f9f9f9;
}

.glyphicon.glyphicon-ok-sign {
  color: green;
}
.glyphicon.glyphicon-remove-sign {
  color: red;
}

.switcher-container {
  width: 100%;
  background: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
}

.messages-list__msg--info {
  color: orange;
}

.messages-list__msg--error {
    color: red;
}
.messages-list__msg--success {
  color: green;
}
