{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify templatetags%}

{% block extrahead %}
{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} {% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
</div>
{% endblock %}
{% endif %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
{% if messages %}
  {% if success_msg %}
    {% for item in success_msg %}
        <li class="success hello">{{ message }}</li>
      {% endfor %}
  {% endif %}
    {% if error_msg %}
    {% for message in error_msg %}
        <li class="error hola">{{ message }}</li>
    {% endfor %} 
  {% endif %}
</ul>

{% elif users %}
<form class="" id="import_users" method="post">
  {% csrf_token %}
<div id="content-main">
{{ form }}
  
  <ul>
  {%for user in users %}
  <li id="{{user.id }}" data-first="{{user.first}}" data-last"{{user.last}}" data-role="{{user.role}}" data-groups="{{user.groups}}"> {{user.id }} - {{user.email}}</li>
  {% endfor %}
  </ul>

</div>
{% else %}
<h4> No Results ! </h4>
{% endif %}
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
      {% if users %}
        <h2>{% translate 'Import users' %}</h2>
        <h3>{% trans "Click Import button to create emails accounts for each user listed on the left" %}</h3>
        <input type="submit" name="import-users" value="{%trans 'Import Users' %}">
      {% endif %}
    </div>
</div>
{% endblock %}
</form>
