<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login | Digital Democratic</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">
	<!-- PNotify -->
	<link href="/vendors/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/vendors/pnotify/dist/pnotify.buttons.css" media="all" rel="stylesheet" type="text/css" />
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>
    
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">{{ form }}<button type="submit"
                      class="btn btn-primary btn-block">Log in</button>
                  </form>
                  <!-- <h1><i class="fa fa-user"></i> Digital Democratic</h1> -->
                  <p>©2022 All Rights Reserved. <a href="https://gitlab.com/digitaldemocratic/digitaldemocratic/-/blob/master/LICENSE" target="_blank">AGPLv3</a></p>
          </section>
        </div>
      </div>
    </div>
  </body>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- PNotify -->
	<script type="text/javascript" src="/vendors/pnotify/dist/pnotify.js"></script>
	<script type="text/javascript" src="/vendors/pnotify/dist/pnotify.confirm.js"></script>
	<script type="text/javascript" src="/vendors/pnotify/dist/pnotify.buttons.js"></script>    
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
</html>

