{% extends "base.html" %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Cuentas de Correo'%}</h3>
  </div>
  <div class="panel-body">
    <p>{%trans 'Cuentas de correo activas'%}</p>
  <nav class="navbar">
       <form class="navbar-form" method="get" action="{% url 'list-users' %}">
          {% csrf_token %}         
              <!-- avoid CSRF verification failed error. -->
           <div class="form-group">
              <input name="q" type="text" placeholder="User Name" class="form-control" value="{{ request.GET.q }}">
           </div>
           <button type="submit" class="btn btn-success">Search</button>
       </form>
  </nav>
  <div class="table-responsive">
  {% render_table table %}
  </div>
  </div>
</div>

{% endblock %}
