{% extends "base.html" %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Dominios admitidos para enviar y recibir'%}</h3>
  </div>
  <div class="panel-body">
      <p>{%trans 'El sistema de correo solo permite enviar y recibir emails a cuentas internas del colegio, otras escuelas adheridas al proyecto o algunos dominios de interés general. Puedes consultar en esta tabla el listado completo de los dominios admitidos.'%}</p>
      <p>{%trans "Si quieres poder comunicar con otras cuentas externas, puedes añadirlas haciendo clic" %}
      <u><a href="{% url 'whitelist-add' %}">{%trans 'aquí'  %}</a></u>
      </p>

    {%if not message %} 
      <nav class="navbar">
         <form class="navbar-form navbar-left" method="get" action="{% url 'allowdomains-list' %}">
          {% csrf_token %}         
            <!-- avoid CSRF verification failed error. -->
           <div class="form-group">
              <input name="q" type="text" placeholder="User Name" class="form-control" value="{{ request.GET.q }}">
              <button type="submit" class="btn btn-success btn-sm">Search</button>
           </div>

         </form>
      </nav>
      <div class="table-responsive">
        {% render_table table %}
      </div>
    {% endif %}
    </div>
</div>

{% endblock %}
