<!-- extend base layout -->
{% extends "base.html" %}
{% load i18n templatetags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ mail_account }}</h3>
  </div>
  <div class="panel-body">
    {% if school_mail %}
      <form class="default uniForm" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="{%trans 'Guardar' %}">
      </form>
    {% else %}
    {%trans "No puedes editar tu cuenta de correo desde esta interfaz porqué no pertenece al dominio interno." %}
    {% endif %}
  </div>
</div>
{% endblock %}
