<!-- extend base layout -->
{% extends "base.html" %}
{% load i18n templatetags %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">{%trans 'Configuración cliente de correo' %}</h3>
  </div>
  <div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <h4>{%trans 'Correo Saliente- SMTP' %}</h4>
      <p><b>{%trans 'Servidor: '%}</b> {{smpt_server}} </p>
      <p><b>{%trans 'Puerto: '%}</b> {{smtp_port}}</p>
      <p><b>{%trans 'Seguridad: '%}</b> {{security}}</p>
      <p><b>{%trans 'Nombre de usuario: '%} </b>{{mail_account}}</p>
      <p><b>{%trans 'Contraseña: '%} </b>{{auth_pass}}</p>
    </li>
    <li class="list-group-item">
      <h4>{%trans 'Correo Entrante- IMAP' %}</h4>

      <p><b>{%trans 'Servidor: '%}</b>  {{imap_server}}</p>
      <p><b>{%trans 'Puerto: '%}</b> {{imap_port}}</p>
      <p><b>{%trans 'Seguridad: '%}</b> {{security}}</p>
      <p><b>{%trans 'Nombre de usuario: '%} </b> {{mail_account}}</p>
      <p><b>{%trans 'Contraseña: '%} </b> {{auth_pass}}</p>

    </li>
    <li class="list-group-item">
      <h4>{%trans 'Correo Entrante- POP3' %}</h4>

      <p><b>{%trans 'Servidor: '%}</b>{{ pop3_server}}</p>
      <p><b>{%trans 'Puerto: '%}</b> {{pop3_port}}</p>
      <p><b>{%trans 'Seguridad: '%}</b> {{security}}</p>
      <p><b>{%trans 'Nombre de usuario: '%} </b> {{mail_account}}</p>
      <p><b>{%trans 'Contraseña: '%} </b> {{auth_pass}}</p>

    </li>
  </ul>
  </div>
</div>
{% endblock %}
