{% load i18n templatetags %}
    <p><b>{%trans 'Nombre: '%}</b> {{user.givenName }}</p>
    <p><b>{%trans 'Apellidos: '%}</b> {{user.sn }}</p>
    <p><b>{%trans 'Quota: '%} </b> {{user.quota|tobytes }} MB</p>
    <p><b>{%trans 'Reenvío automático: '%} </b> {%if user.forwardActive == 'TRUE' %} <i class="glyphicon glyphicon-ok-sign"></i> {%else%} <i class="glyphicon glyphicon-remove-sign"></i>{% endif %}</p>
    {%if user.forwardActive == 'TRUE' %}
    <p><b>{%trans 'Cuentas de renvío: '%}</b> {{user.maildrop}}</p>
    {% endif %}
    <p><b>{%trans 'Respuetsa automática: '%} </b> {%if user.vacationActive == 'TRUE' %} <i class="glyphicon glyphicon-ok-sign"></i> {%else%} <i class="glyphicon glyphicon-remove-sign"></i>{% endif %}</p>
</div>

