<!-- extend base layout -->
{% extends "base.html" %}
{% load i18n templatetags %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ user.mail }}</h3>
  </div>
  <div class="panel-body">
   {% if school_mail %} 
    {% include 'accounts/profile-details.html' with user=user  %}
    {% elif  request.user|has_group:"manager" or request.user|has_group:"teacher" %} 
      {% if  request.user|has_group:"manager" %} 
        <p>{%trans "Desde esta interfaz puedes consultar y editar las cuentas de correo de alumnos/as y profesores/as haciendo clic en la pestaña 'Cuentas internas'."%}</p>
      {% endif %}
      <p>{%trans "Desde la pestaña 'Destinatarios Permitidos' -> 'Ceuntas de Correo' puedes consultar, añadir o eliminar cuentas de correos externas para que el sistema permita comunicar con ellas. Por defecto solo se permite recibir y enviar correos a las cuentas internas." %}</p>
      <p>{% trans "Desde la pestaña 'Destinatarios Permitidos' -> 'Dominios' puedes consultar los dominios cuyos correos están admitidos sin necesidad de que los añadas al listado" %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
