<!-- extend base layout -->
{% extends "base.html" %}
{% load i18n templatetags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ user.mail }}</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li role="presentation" class="{% if active_section|startswith:'accountsedit-prof' %}active {%endif %}"><a href="{% url 'account-profile' pk=user_id %}">{%trans 'Perfil' %}</a></li>
      <li role="presentation" class="{% if active_section|startswith:'accountsedit-pass' %}active {%endif %}"><a href="{% url 'account-pass' pk=user_id %}">{%trans 'Contraseña' %}</a></li>
      <li role="presentation" class="{% if active_section|startswith:'accountsedit-forw' %}active {%endif %}"><a href="{% url 'account-forw' pk=user_id %}">{%trans 'Reenvio Automático' %}</a></li>
      <li role="presentation" class="{% if active_section|startswith:'accountsedit-vac' %}active {%endif %}"><a href="{% url 'account-vac' pk=user_id %}">{%trans 'Respuesta Automática' %}</a></li>

    </ul>
  </div>
  <div class="panel-body">
    {% include 'accounts/profile-details.html' with user=user  %}
  </div>
</div>
{% endblock %}

