<!-- extend base layout -->
{% extends "base.html" %}
{% load i18n templatetags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{%trans 'Añadir emails a la lista de correos permitidos' %}</h3>
  </div>
  <div class="panel-body">
    <form class="default uniForm" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-success" value="{%trans 'Guardar' %}">
    </form>
  </div>
</div>
{% endblock %}
