{% extends "base.html" %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Correos externos admitidos para enviar y recibir'%}</h3>
  </div>
  <div class="panel-body">
      <p>{%trans 'El sistema de correo solo permite enviar y recibir emails a cuentas internas del colegio.'%}</p>
      <p>{%trans 'Si quieres poder comunicar con otras cuentas externas, debes permitirlas utilizando el botón "Añadir"' %}<p>
      {%if message %}
        <h4>{{ message }}</h4>
           <div class="form-group">
             <a href="{% url 'whitelist-add' %}"><button type="button" class="btn btn-sm" name="add-mails">{%trans 'Añadir'  %}</button></a>
           </div>
      {% else %}
        <p>{%trans 'En esta tabla puedes consultar las cuentas externas ya permitidas '%}<p>
      {% endif %}

    {%if not message %} 
      <nav class="navbar">
         <form class="navbar-form navbar-left" method="get" action="{% url 'whitelist-list' %}">
          {% csrf_token %}         
            <!-- avoid CSRF verification failed error. -->
           <div class="form-group">
              <input name="q" type="text" placeholder="User Name" class="form-control" value="{{ request.GET.q }}">
              <button type="submit" class="btn btn-success btn-sm">Search</button>
           </div>

         </form>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'whitelist-remove' %}"><button type="button" class="btn btn-success btn-sm" name="">{%trans 'Eliminar'  %}</button></a></li>
           <li><a href="{% url 'whitelist-add' %}"><button type="button" class="btn btn-sm" name="add-mails">{%trans 'Añadir'  %}</button></a> </li>

        </ul>
      </nav>
      <div class="table-responsive">
        {% render_table table %}
      </div>
    {% endif %}
    </div>
</div>

{% endblock %}
