<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">

    <title>{{ title }} | Digital Democratic</title>
    <link rel="icon" type="image/png" href="/static/ddcp/imgs/favicon.ico" />
    <link href="/static/ddcp/framework/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ddcp/framework/css/font-awesome-4.0.3.css" rel="stylesheet">
    <!-- ion.rangeSlider -->
    {% block css %}{% endblock %}
    <link href="/static/ddcp/dd.css" rel="stylesheet">
  </head>

  <body class="page--front single-fluid">
    {% include 'header.html' %}

    <div class="body">
      <div class="container-fluid">
        <aside class="region-sidebar">
              {% include 'sidebar.html' %}
            </aside>
        <main class="region-content">
          <div class="hamburger-container">
            <div class="hamburguer">
              <i></i>
              <i></i>
              <i></i>
            </div>

          </div>
          <div class="main-content"> 
            <!-- page content -->
            {# Site messages only for logged in users #}
            {% include 'regions/messages.html' with region_name="messages" html_container="div" %}
            
            {% block content %}      
            {% endblock %}
            <!-- /page content -->
          </div>
        </main>

      <!-- footer content -->
      {% include 'footer.html' %}
      <!-- /footer content -->
    </div> <!-- /container-fluid -->
  </div> <!-- /.body -->

    <!-- jQuery -->
    <script src="/static/ddcp/framework/js/jquery-3.5.1.min.js"></script>
    <script src="/static/ddcp/dd.js"></script>
    <script type="text/javascript">
  </body>
</html>
