<!-- sidebar menu -->
{% load i18n templatetags %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu mt-4">        
  <div class="menu_section">
    <ul class="nav side-menu">
      {% if school_mail %}
        <li id="profileSubmenu" class="menu-primary__item {% if not active_section|startswith:'profile' %}collapsed{% endif %}">
          <a class="menu-primary__item-label" data-toggle="profileSubmenu" data-excluded="menu-primary__item">
            <i class="glyphicon glyphicon-envelope"></i> {% trans 'Mi Cuenta' %}
          </a>
          <ul class="list-unstyled menu-primary__submenu nav side-menu">
            <li><a class="{% if active_section|startswith:'profileview' %} active {%endif%}" href="{% url 'profile' %}"><i class="glyphicon glyphicon-envelope"></i> {%trans 'Ver Detalles'%}</a></li>
            <li><a class="{% if 'password' in request.path %}active {%endif%}" href="{% url 'change-password' %}"><i class="fa fa-key"></i> {%trans 'Cambiar Contraseña'%}</a></li>
            <li><a class="{% if 'forward' in request.path %}active {%endif%}" href="{% url 'forward' %}"><i class="fa fa-mail-forward"></i> {%trans 'Reenvío Automático'%}</a></li>
            <li><a class="{% if 'vacation' in request.path %}active {%endif%}" href="{% url 'vacation' %}"><i class="fa fa-reply"></i> {%trans 'Respuesta Automatica'%}</a></li>
          </ul>
        </li>
      {% else %}
        <li><a class="{% if 'profile' in request.path %} active {%endif%}" href="{% url 'profile' %}"><i class="glyphicon glyphicon-envelope"></i> {%trans 'Mi Cuenta'%}</a></li>
      {% endif %}

      {% if request.user|has_group:"manager"  %} 
        <li><a class="{% if 'list-users' in request.path or active_section|startswith:'accountsedit' %}active {%endif%}" href="{% url 'list-users' %}"><i class="fa fa-users"></i> {%trans 'Cuentas internas'%}</a></li>
      {% endif %}
      {% if request.user|has_group:"manager" or request.user|has_group:"teacher" %}
      <li id="WhitelistSubmenu" class="menu-primary__item {% if not active_section|startswith:'allowed' %}collapsed{% endif %}">
        <a class="menu-primary__item-label" data-toggle="WhitelistSubmenu" data-excluded="menu-primary__item">
            <i class="glyphicon glyphicon-check"></i> {% trans 'Destinatarios Permitidos' %}
        </a>
          <ul class="list-unstyled menu-primary__submenu nav side-menu">
            <li><a class="{% if active_section|startswith:'alloweddomains' %}active {%endif%}" href="{% url 'allowdomains-list' %}">
              <i class="glyphicon glyphicon-list"></i> {%trans 'Dominios'%}</a></li>
            <li><a class="{% if active_section|startswith:'allowedlist' %}active {%endif%}" href="{% url 'whitelist-list' %}">
              <i class="glyphicon glyphicon-list"></i> {%trans 'Cuentas de correo'%}</a></li>
            <li class="subitem"><a class="{% if active_section|startswith:'allowedadd' %}active {%endif%}" href="{% url 'whitelist-add' %}">
               &nbsp;&nbsp; <i class="glyphicon glyphicon-plus"></i>   {%trans 'Añadir'%}</a></li>
            <li class="subitem"><a class="{% if active_section|startswith:'allowedemove' %}active {%endif%}" href="{% url 'whitelist-remove' %}">
               &nbsp;&nbsp; <i class="glyphicon glyphicon-minus"></i>   {%trans 'Eliminar'%}</a></li>
          </ul>
        </li>
        {% if 'mailman'|path_exists %}
            <li><a class="" href="/mailman" target="_blank"><i class="glyphicon glyphicon-share"></i> {%trans 'Listas de correo'%}</a></li>
        {% endif %}
      {% endif %}
      
      <li><a class="{% if 'email-client' in request.path %}active {%endif%}" href="{% url 'email-client' %}"><i class="glyphicon glyphicon-cog"></i> {%trans 'Parámetros de conexión'%}</a></li>

    </ul>
  </div>
</div>
  <div class="switcher-container">
    <div class="lang-switcher">
      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        {% if LANGUAGE_CODE != language.code %}
          <input type="submit" name="language" value="{{ language.code }}" />
        {% endif %}
      {% endfor %}
    </form>
    </div>
  </div>
